.PopularOnMedium h3 {
   font-family: 'Proza Libre', sans-serif;
   font-size: 20px;
   color: black;
   font-weight: 600;
}
.PopularOnMedium {
   margin: 7px 0;
   padding: 15px;
   width: 80%;
}
.PopularOnMedium #title-text {
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   margin-bottom: 2rem;
   height: 2.5rem;
   display: inline-block;
   width: 69%;
}
